.team {
  background-color: #f4f4fd;
}
.team-list {
}
.team-list-item {
  background-color: #fff;
}
.employees-photo {
}
.employees-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.job-title {
  text-align: center;
}
